@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  background: #e5e5e5;
}

#main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  background-image: url(images/backgound_image.svg);
  background-repeat: no-repeat;
  background-position: -20px 80px;
  margin-bottom: 4rem;
  padding: 40px 24px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.my-logo {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.my-logo:hover {
  animation: logoAnimate 2s alternate infinite;
}

@keyframes logoAnimate {
  from { transform: rotate(0) scale(1); }
  to { transform: rotate(360deg) scale(0.7); }
}

.navbar-menu {
  display: none;
}

.headline {
  padding: 0 24px;
  margin-top: 6rem;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.content {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.cover-links {
  margin-bottom: 10px;
  color: #7f8cff;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.cover-socials {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  gap: 10px;
  padding: 0;
}

.cover-socials a {
  text-decoration: none;
  font-size: 22px;
  color: #505f79;
}

.work-page-left,
.work-page-right {
  box-sizing: border-box;
  padding: 8px;
  margin: 10px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.work-title {
  width: 295px;
  height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.clients {
  width: 29px;
  height: 16px;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0 2px;
  margin: 1px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.counter {
  width: 8px;
  height: 8px;
  padding: 4px;
}

.highlights {
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.project-detail {
  width: 100px;
  height: 40px;
  border-width: 1px;
  border-color: #396df2;
  border-radius: 0.5em;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #396df2;
  background: #fff;
}

.project-detail:hover {
  background: #396df2;
  color: #fff;
}

.about-myself {
  box-sizing: border-box;
  padding: 16px;
  margin: 20px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 10px;
}

.about-myself-title {
  width: 327px;
  height: 101px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 1px;
}

.myself-content {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.links {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 1px;
}

.socials {
  display: flex;
  list-style: none;
  padding: 0 1px;
}

.socials li {
  padding-left: 16px;
}

.socials a {
  text-decoration: none;
  font-size: 22px;
  color: #505f79;
}

.resume {
  width: 130px;
  height: 44px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  border-width: 1px;
  border-color: #396df2;
  color: #396df2;
  border-radius: 0.5em;
  background: #fff;
  cursor: pointer;
}

.resume:hover {
  background: #396df2;
  color: #fff;
}

.languages {
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
  padding-top: 5px;
}

.framework-skills {
  display: flex;
  list-style: none;
  flex-direction: column;
  padding-left: 4px;
}

.framework-skills-desktop {
  display: none;
}

hr {
  border: 0;
  clear: both;
  display: block;

  /* width: 280px; */
  background-color: #dfe1e6;
  height: 1px;
  margin: 6px;
}

div .taggs {
  float: right;
  width: 40px;
  height: 20px;
  padding-bottom: 20px;
}

.tag1 {
  width: 50px;
  height: 20px;
  margin-right: 8px;
  border: none;
  border-radius: 6px;
  margin-bottom: 20px;
  color: #396df2;
}

.tag2 {
  width: 40px;
  height: 20px;
  margin-right: 8px;
  border: none;
  border-radius: 6px;
  color: #396df2;
}

.tag3 {
  width: 80px;
  height: 20px;
  margin-right: 8px;
  border: none;
  border-radius: 6px;
  color: #396df2;
}

.frameworks {
  display: flex;
  justify-content: space-between;
  padding: 0 38px 0 10px;
  margin: 1em;
}

.contact {
  width: 100%;
  height: 740px;
  background: #6070ff;
  background-image: url(images/contact/layers.svg);
  background-repeat: no-repeat;
  background-position-x: 145px;
  background-position-y: 10px;
  border-top-left-radius: 6rem;
}

.contact-title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #fff;
  margin-top: 80px;
}

.contact-content {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #ebebff;
  padding: 0 24px;
}

.my-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem;
  gap: 1.5rem;
}

.inputField {
  padding: 0.9rem;
  border-radius: 10px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

.inputField:hover {
  transform: translate(5px);
}

.textareaField {
  border-radius: 10px;
  padding: 0.9rem;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #b3bac5;
}

.textareaField:hover {
  transform: translate(5px);
}

.my-button {
  align-items: center;
  padding: 12px;
  background: #fff;
  border-radius: 8px;
  color: #6070ff;
  width: 50%;
  border: none;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}

.shape {
  margin-left: 30%;
  background: #0d151e;
  border-radius: 10px;
  width: 134px;
  height: 5px;
}

@media screen and (min-width: 768px) {
  #main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    background-image: url(images/desktop_main/Header.svg);
    background-repeat: no-repeat;
  }

  #navbar {
    padding: 0 6rem;
  }

  .navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
  }

  .navbar-menu a {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    color: #344563;
  }

  .navbar-image {
    display: none;
  }

  .headline {
    padding: 5rem 15rem;
  }

  .work-page-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    background: #fff;
    border: none;
    border-radius: 24px;
    padding: 2rem;
    margin: 4rem 0;
    gap: 2rem;
  }

  .card1-image,
  .card2-image,
  .card3-image {
    transition: transform 0.3s;
  }

  .card1-image:hover,
  .card2-image:hover,
  .card3-image:hover {
    transform: scale(1.07);
  }

  .card2-content {
    grid-row: 1/-2;
    padding: 0;
  }

  .work-page-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    background: #fff;
    border: none;
    border-radius: 24px;
    padding: 2rem;
    gap: 2rem;
  }

  .clients {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0 2px;
    margin: 1px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
  }

  div .taggs {
    float: right;
    width: 40px;
    height: 20px;
    padding-bottom: 20px;
  }

  .tag1 {
    width: 50px;
    height: 20px;
    margin-right: 8px;
    border: none;
    border-radius: 6px;
    margin-bottom: 20px;
    color: #396df2;
  }

  .tag2 {
    width: 40px;
    height: 20px;
    margin-right: 8px;
    border: none;
    border-radius: 6px;
    color: #396df2;
  }

  .tag3 {
    width: 80px;
    height: 20px;
    margin-right: 8px;
    border: none;
    border-radius: 6px;
    color: #396df2;
  }

  .about-myself {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    background: #fff;
    border-top-right-radius: 6rem;
    padding: 0;
    margin: 4em 0 0 0;
  }

  .about-myself-content {
    padding: 3rem 2rem 5rem 4rem;
  }

  .about-myself-languages {
    padding: 2.5rem 3rem 5rem 0;
    margin-top: 4rem;
  }

  .about-myself-title {
    padding: 1rem 0;
  }

  .frameworks {
    display: flex;
    padding: 0.5rem 0;
  }

  .framework1 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  .framework-skills-desktop {
    display: flex;
  }

  .html-skill,
  .css-skill {
    margin-right: 0.8rem;
  }

  .framework-skills {
    display: none;
  }

  .contact {
    width: 100%;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    background-image: url(images/desktop_main/contact_desktop.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
  }

  .my-form {
    padding: 0;
  }

  .footer-content {
    width: 447px;
  }

  .my-button {
    margin: auto;
    padding: 12px;
    background: #fff;
    border-radius: 8px;
    color: #6070ff;
    width: 50%;
    border: none;
    font-size: 17px;
    font-weight: 500;
  }

  .shape {
    display: none;
  }

  #navbar .navbar-menu a:hover {
    color: brown;
    cursor: pointer;
  }
}
