@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  background: #e5e5e5;
}

#main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  background-image: url(images/backgound_image.svg);
  background-repeat: no-repeat;
  background-position: -20px 80px;
  margin-bottom: 10px;
  padding: 40px 24px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}


.my-logo {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.headline {
  padding: 0 24px;
  margin-top: 6rem;
}
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
 
  /* display: flex; */
  /* align-items: center; */
}

.content {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.cover-links {
  margin-bottom: 10px;
  color: #7f8cff;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.cover-socials {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  gap: 10px;
  padding: 0;
}


.cover-socials a {
  text-decoration: none;
  font-size: 22px;
  color: #505f79;
}

.work-page {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: no-repeat;
  padding: 8px;
  margin: 10px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.work-title {
  width: 295px;
  height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.clients {
  width: 29px;
  height: 16px;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0 2px;
  margin: 1px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.counter {
  width: 8px;
  height: 8px;
  padding: 4px;
}

.highlights {
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tags {
  display: flex;
  list-style: none;
  padding: 1px;
}

.tags li {
  padding-left: 4px;
  padding-top: 0.1em;
}

.tags button {
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  border: none;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.project-detail {
  width: 100px;
  height: 40px;
  border-width: 1px;
  border-color: #396df2;
  border-radius: 0.5em;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #396df2;
  background: #fff;
}

.about-myself {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: no-repeat;
  padding: 16px;
  margin: 20px;
  width: 327px;
  height: 1000px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 10px;
}

.about-myself-title {
  width: 327px;
  height: 101px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 1px;
}

.about-myself-content {
  width: 280px;
  height: 120px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 1px;
}

.links {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 1px;
}

.socials {
  display: flex;
  list-style: none;
  padding: 0 1px;
}

.socials li {
  padding-left: 16px;
}

.socials a {
  text-decoration: none;
  font-size: 22px;
  color: #505f79;
}

.resume {
  width: 130px;
  height: 44px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  border-width: 1px;
  border-color: #396df2;
  color: #396df2;
  border-radius: 0.5em;
  background: #fff;
}

.languages {
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
  padding-top: 5px;
}

.skills {
  display: flex;
  list-style: none;
  flex-direction: column;
  padding-left: 4px;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 280px;
  background-color: #dfe1e6;
  height: 1px;
  margin: 6px;
}

.frameworks {
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
  margin: 10px;
}

div .taggs {
  float: right;
  width: 40px;
  height: 20px;
  padding-bottom: 20px;
}

.tag1 {
  width: 50px;
  height: 20px;
  margin-right: 8px;
  border: none;
  border-radius: 6px;
  margin-bottom: 20px;
  color: #396df2;
}

.tag2 {
  width: 40px;
  height: 20px;
  margin-right: 8px;
  border: none;
  border-radius: 6px;
  color: #396df2;
}

.tag3 {
  width: 80px;
  height: 20px;
  margin-right: 8px;
  border: none;
  border-radius: 6px;
  color: #396df2;
}

.frameworks {
  display: flex;
  justify-content: space-between;
  padding: 0 38px 0 10px;
}

.contact {
  width: 98%;
  background: #6070ff;
  background-image: url(images/contact/layers.svg);
  background-repeat: no-repeat;
  background-position-x: 135px;
  background-position-y: 10px;
  border-top-left-radius: 6rem;
}

.contact-title {
font-style: normal;
font-weight: 700;
font-size: 40px;
text-align: center;
color: #FFFFFF;
margin-top: 80px;

}

.contact-content {
font-style: normal;
font-weight: 400;
font-size: 18px;
text-align: center;
color: #EBEBFF;
padding: 0 24px;
}

.my-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem;
  gap: 1rem;
}

.inputField {
  padding: 0.9rem;
  border-radius: 10px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

.textareaField {
  border-radius: 10px;
  padding: 0.9rem;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #B3BAC5;
}

.my-button {
align-items: center;
padding: 12px 16px;
/* Neutrals/N0 */
background: #FFFFFF;
border-radius: 8px;
color: #6070FF;
width: 50%;
border: none;
font-size: 17px;
font-weight: 500;
}