@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  background: #e5e5e5;
}

section {
  display: grid;
}

#main-page {
  width: 375px;
  height: 718px;
  background: #fff;
  background-image: url(images/backgound_image.svg);
  background-repeat: no-repeat;
  background-position-y: 50%;
  margin: 20px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 58px 24px;
}

.my-logo {
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.title {
  width: 327px;
  height: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding: 0 24px;
  color: #172b4d;
  display: flex;
  align-items: center;
}

.content {
  width: 327px;
  height: 146px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 0 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.work-page {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: no-repeat;
  padding: 16px;
  margin: 20px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.work-title {
  width: 295px;
  height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.clients {
  width: 29px;
  height: 16px;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0 2px;
  margin: 1px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.counter {
  width: 8px;
  height: 8px;
  padding: 4px;
}

.highlights {
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tags {
  display: flex;
  list-style: none;
  padding: 1px;
}

.tags li {
  padding-left: 4px;
  padding-top: 0.1em;
}

.tags button {
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  border: none;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.project-detail {
  width: 100px;
  height: 40px;
  border-width: 1px;
  border-color: #396df2;
  border-radius: 0.5em;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #396df2;
  background: #fff;
}

.about-myself {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: no-repeat;
  padding: 16px;
  margin: 20px;
  width: 327px;
  height: 1000px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about-myself-title {
  width: 327px;
  height: 101px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 1px;
}

.about-myself-content {
  width: 280px;
  height: 120px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 1px;
}

.links {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 1px;
}

.socials {
  display: flex;
  list-style: none;
  padding: 0 1px;
}

.socials li {
  padding-left: 16px;
}

.socials a {
  text-decoration: none;
  font-size: 22px;
  color: #505f79;
}

.resume {
  width: 130px;
  height: 44px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  border-width: 1px;
  border-color: #396df2;
  color: #396df2;
  border-radius: 0.5em;
  background: #fff;
}

.languages {
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
  padding-top: 5px;
}

.skills {
  display: flex;
  list-style: none;
  flex-direction: column;
  padding-left: 4px;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 280px;
  background-color: #dfe1e6;
  height: 1px;
  margin: 6px;
}

.frameworks {
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.taggs {
  float: right;
}